/* importing lato fomt from google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* Utility Classes - Which can be reused  */
:root {
  --text-primary-p: #a5aaad;
  --text-title: #2e4a66;
  --text-active: #265acc;
  --body-background: #f3f4f6;
  --sidebar-background: #020509;
  --text-lightblue: #469cac;
  --text-red: #cc3d38;
  --text-yellow: #a98921;
  --text-green: #3b9668;
  --dollar-background: #ffc100;
  --slider-hover-background: rgba(62, 161, 117, 0.3);
}

/* .font-bold {
  font-weight: 700;
} */

/* Dividing the page into 2 columns in 1/4 and 3/4.  */
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
}

/* navbar */
.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgrey;
  padding: 0.3rem 0.7rem;
}
.navbar-left-options {
  margin-left: 1.7rem;
}
.navbar-left-options a {
  text-decoration: none;
  color: var(--text-primary-p);
  font-weight: 700;
  margin-right: 1.5rem;
}
.navbar-left-options .navbar--active {
  color: var(--text-active);
  border-bottom: 3px solid var(--text-active);
  padding-bottom: 0.6rem;
}

.navbar-right-options {
  display: flex;
  margin-right: 1.3rem;
}
.navbar-right-options a i {
  padding: 12px;
  margin-right: 0.9rem;
  font-size: 1.2rem;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  border-radius: 50%;
  color: var(--text-primary-p);
}
.navbar .navbar-right-options .navbar-links img {
  width: 2.7rem;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  border-radius: 50%;
  margin-top: 0.5 px;
}
.navbar-right-options i:hover {
  color: var(--text-active);
}

/* mainbody */
main {
  grid-area: main;
  background: var(--body-background);
  overflow-y: auto;
}
.main-body-contents {
  padding: 1.4rem 2.5rem;
}
.welcome-container {
  display: flex;
  flex-direction: row;
  margin: 0.3rem 0.5rem 2rem 0.2rem;
  padding-left: 1rem;
}
.welcome-container img {
  width: 8rem;
  padding-right: 2.5rem;
}
.welcome-text {
  padding-top: 1.5rem;
  /* font-weight: 700; */
}
.welcome-text p {
  padding-top: 0.4rem;
  color: var(--text-primary-p);
}

/* // B) - Cards  */
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin: 20px 0;
}
.cards-single {
  background: #ffffff;
  padding: 2.2rem;
  height: 4.4rem;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  border-radius: 5px;
  font-size: 1.2rem;
}
.cards-single i {
  padding-top: 0.2rem;
}
.cards-single .cards-single-text {
  display: flex;
  align-items: center;
  padding-top: 0.7rem;
  font-weight: 700;
}
.cards-single-text p {
  color: var(--text-primary-p);
}
.cards-single-text span {
  padding-left: 1rem;
}
.card1 i {
  color: var(--text-lightblue);
}
.card2 i {
  color: var(--text-red);
}
.card3 i {
  color: var(--text-yellow);
}
.card4 i {
  color: var(--text-green);
}

/* // C) Daily Report and Sales Report  */
.reports-and-stats {
  margin: 1rem;
}
.reports-stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

/* daily reports  */
.daily-reports,
.sales-reports {
  padding: 1.2rem;
  height: 24rem;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
  background: #ffffff;
}
.daily-reports-text-logo,
.sales-reports-text-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  padding: 0.5rem 1rem;
}
.daily-reports-text-logo i,
.sales-reports-text-logo i {
  color: #ffffff;
  background: var(--dollar-background);
  padding: 1rem;
  border-radius: 19px 0 19px 19px;
}
.daily-reports-chart {
  text-align: center;
}

/* Sales reports  */
.sales-reports-text-logo i {
  background: var(--text-active);
}
.sales-reports-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  grid-gap: 1rem;
  margin-top: 1.2rem;
  padding: 0.4rem;
}
.salescards {
  padding: 2.2rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.35rem;
}
.salescards span {
  font-size: 1.3rem;
}
.sales-card1 {
  background: #d1ecf1;
  color: #35a4ba;
}
.sales-card2 {
  background: #d2f9ee;
  color: #38e1b0;
}
.sales-card3 {
  background: #d6d8d9;
  color: #3a3e41;
}
.sales-card4 {
  background: #fddcdf;
  color: #f65a6f;
}
/* sidebar  */
#sidebar {
  grid-area: sidebar;
  background: var(--sidebar-background);
  overflow-y: auto;
  color: white;
  padding: 2.2rem;
}
.sidebar-container a {
  text-decoration: none;
  color: #fff;
}
.sidebar-title {
  display: flex;
  margin-bottom: 2rem;
}
.sidebar-title .sidebar-img img {
  width: 4.2rem;
}
.sidebar-title h3 {
  padding: 1.2rem 0 1.2rem 1.5rem;
  font-size: 1.5rem;
}
.sidebar-heading,
.sidebar-links,
.sidebar-logout {
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.sidebar-heading,
.sidebar-links,
.sidebar-logout {
  /* border: 1px solid green; */
  border-radius: 0.4rem;
}
.sidebar-heading i,
.sidebar-links i,
.sidebar-logout i {
  margin-right: 0.5rem;
}

.sidebar-heading,
.sidebar-heading a {
  color: var(--text-green);
  font-weight: 800;
}
.sidebar-heading {
  background: var(--slider-hover-background);
}
.sidebar-container h2 {
  padding: 0.5rem;
  color: var(--text-green);
  font-size: 1.2rem;
}
.sidebar-links a {
  color: var(--text-primary-p);
}
.sidebar-links:hover {
  background: var(--slider-hover-background);
}
.sidebar-logout,
.sidebar-logout a {
  color: var(--text-red);
}
.sidebar-logout {
  font-weight: 700;
}
.sidebar-logout:hover {
  background: #dfa2a7;
}

/*  Scrollbar  */
::-webkit-scrollbar {
  width: 6.5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}
